apiVersion: apps/v1
kind: Deployment
metadata:
  name: meeting-backend
  namespace: meeting-app-dev
  labels:
    app: meeting-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: meeting-backend
  template:
    metadata:
      labels:
        app: meeting-backend
    spec:
      containers:
      - name: backend
        image: 451870923045.dkr.ecr.us-east-1.amazonaws.com/meeting-app-backend:latest
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: meeting-app-config
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api/health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health/
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: meeting-backend-svc
  namespace: meeting-app-dev
spec:
  type: ClusterIP
  selector:
    app: meeting-backend
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
